name: Build binaries
on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-15-intel, macos-15, windows-2025]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.8'

    - name: Install pyinstaller and dependencies
      run: pip3 install --upgrade pyinstaller -r requirements.txt

    - name: Optional dependencies (WebView)
      run: pip3 install --upgrade pywebview
      if: runner.os != 'macOS'

    - name: Set strip on Linux and Mac
      id: strip
      run: echo "option=--strip" >> $GITHUB_OUTPUT
      if: runner.os != 'Windows'

    - name: Build
      run: pyinstaller
        --onefile
        --name nile 
        ${{ steps.strip.outputs.option }}
        nile/cli.py
      env:
        PYTHONOPTIMIZE: 1

    - uses: actions/upload-artifact@v6
      with:
        name: nile-${{ matrix.os }}
        path: dist/*
